*
!.gitignore
!*/
!?*.*
*.in
*.out
*.ans
*.err
*.log
TEST
down
prob
*.zip
*.exe
*.html
*.htm
*.pdf
atcoder
*.ini
.vscode
*:tests
.temp*
*.o
*.dSYM/
venv/
.idea/
.114514
__*/
build/
dist/
*.zip
!launcher*
